*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Outfit',sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: #111111;
    color: #ffffff;
    line-height: 1.6;
}

header{
    background:#111111;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    height:160px;
    width:auto;
}

nav{
    display:flex;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:80px;
    font-size:20px;
    font-weight:600;
    padding-bottom:8px;
    transition: all 0.3s ease;
}

nav a:hover{
    color:#7AC943;
    border-bottom: 3px solid #7AC943;
}

nav a:active{
    border-bottom: 3px solid #7AC943;
}

.hero{
    background:#111111;
    color:white;
    padding:40px 70px 110px;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    }

.hero::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    height: 90px;
    background: #111111;
    border-radius: 
    0 0 
    55% 45% / 
    0 0 
    100px 100px;
    transform: none;
    z-index: 1;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 90px;
    background: #7AC943;
    border-radius: 
    0 0 
    55% 45% /
    0 0
    100px 100px;
    transform: none;
    z-index: 0;
}

    .hero-texte{
        width:60%;
        position: relative;
        z-index: 2;
    }
    .hero-image{
        width:30%;
        text-align:right;
        margin-top: -60px;
        position: relative;
        z-index: 2;
    }
    .hero-image img{
        width:100%;
        max-width: 600px;
        height: 420px;
        object-fit: cover;
        object-position: center 35%;
        border-radius:10px;
        box-shadow: 0 10px 30px 
        rgba(0,0,0,0.25);
    }

.hero h1{
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
}

.hero p{
    font-size:26px;
    line-height: 1.7;
    margin-bottom:25px;
}

.btn{
    background:#7AC943;
    color:white;
    text-decoration:none;
    padding:18px 30px;
    font-size: 20px;
    border-radius:8px;
    font-weight:bold;
    display:inline-block;
    cursor: pointer;
}

.btn:hover{
    background:#6bb53a;
    transform: translateY(-2px);
    transition: 0.3s;
}

.vert{
    color:#7AC943;
    font-weight:normal;
    font-style:normal;
    font-family:"Kaushan Script",cursive;
}

.avantages{
    margin:30px 0;
}

.avantage{
    color:white;
    font-size:20px;
    margin-bottom:15px;
    font-weight:500;
}

.avantage::before{
    content:"✓";
    color:#7AC943;
    font-weight:bold;
    margin-right:12px;
}
.avantages{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 40px;
    background:white;
}

.avantage{
    width:250px;
    text-align:center;
    padding:25px;
    background:#ffffff;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.08);
}

.avantage h3{
    color:#7AC943;
    margin-bottom:15px;
    font-size:22px;
}

.avantage p{
    color:#111111;
    line-height:1.5;
}
.avantages-liste{
    margin-top: 25px;
}
.ligne-avantage{
    color:white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.ligne-avantage::first-letter{
    color:#7AC943;
    font-weight: bold;
}
.hero-buttons{
    margin-top:30px;
}

.btn-secondaire{
    color:white;
    text-decoration:none;
    border:2px solid white;
    padding:18px 36px;
    font-size: 20px;
    border-radius:8px;
    margin-left:15px;
    font-weight:bold;
    cursor: pointer;
}

.btn-secondaire:hover{
    background:white;
    color:#111111;
    transform: translateY(-2px);
    transition: 0.3s;
}
.pourquoi{
    background:#111111;
    padding:70px 50px;
    text-align:center;
}

.pourquoi h2{
    font-size:48px;
    margin-bottom:50px;
    color: #ffffff;
}

.cartes{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top: 40px;
}

.carte{
    width:280px;
    min-height: 180px;
    padding:25px;
    border-radius:15px;
    background:#ffffff;
    box-shadow:0 4px 15px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.carte:hover{
    transform: translateY(-6px);
}

.carte h3{
    font-size: 22px;
    color:#7AC943;
    margin-bottom:15px;
}

.carte p{
    font-size: 16px;
    color:#555;
    line-height:1.6;
}
.produit-phare{
    background: #111111;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    padding:0 50px 10px;
    margin-top: 20px;
    }

.produit-image{
    width:35%;
}

.produit-image img{
    width:100%;
    border-radius:15px;
}

.produit-texte{
    width:65%;
}

.produit-texte h2{
    font-size:36px;
    margin-bottom:20px;
    color:#ffffff;
}

.produit-texte p{
    font-size:18px;
    line-height:2;
    margin-bottom:25px;
    color:#ffffff;
}

.produit-texte li{
    margin-bottom:12px;
    font-size:18px;
    color:#ffffff;
}
.check{
    color:#7AC943;
    font-weight:bold;
}

/* ==========================
      VEHICULES
========================== */

.vehicules{
    background:#111111;
    padding:40px 20px 70px;
}

.vehicules .container{
    max-width:1100px;
    margin:auto;
}

.vehicules h2{

    text-align:center;
    color:#7AC943;
    font-size:42px;
    margin-bottom:20px;

}

.vehicules-intro{

    text-align:center;
    color:#d5d5d5;
    font-size:20px;
    margin-bottom:70px;

}

.vehicules-liste{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:0 70px;

}

.vehicule{

    padding:28px 0;
    border-bottom:1px solid rgba(255,255,255,.12);

}

.vehicule h3{

    color:white;
    font-size:28px;
    margin-bottom:8px;
    font-weight:600;

}

.vehicule p{

    color:#bdbdbd;
    font-size:18px;
    line-height:1.6;

}

@media(max-width:768px){

.vehicules-liste{

    grid-template-columns:1fr;

}

.vehicules h2{

    font-size:34px;

}

.vehicules-intro{

    font-size:18px;

}

.vehicule h3{

    font-size:24px;

}

}

/* ===========================
      ÉQUIPE ROULEZZEN
=========================== */

.equipe{
    padding:90px 20px;
    background:#111111;
}

.equipe .container{
    max-width:1200px;
    margin:auto;
}

.titre-section{
    text-align:center;
    margin-bottom:60px;
}

.titre-section h2{
    font-size:42px;
    color:#7AC943;
    margin-bottom:15px;
}

.titre-section p{
    font-size:20px;
    color:#7AC943;
}

.equipe-grid{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.membre{

    width:420px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.10);
    transition:.35s;
}

.membre:hover{

    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.18);

}

.membre img{

    width:100%;
    height:420px;
    object-fit:cover;
    object-position: center top;
    display:block;
    transform: scale(1.1);

}

.membre-contenu{

    padding:35px;

}

.membre h3{

    text-align:center;
    font-size:30px;
    color:#0b7d43;
    margin-bottom:8px;

}

.membre span{

    display:block;
    text-align:center;
    color:#666;
    font-size:18px;
    margin-bottom:30px;

}

.membre ul{

    list-style:none;
    padding:0;
    margin:0;

}

.membre li{

    font-size:19px;
    margin:16px 0;
    color:#333;
    line-height:1.6;

}

/* ===========================
      MOBILE
=========================== */

@media(max-width:900px){

.equipe{

    padding:70px 20px;

}

.titre-section h2{

    font-size:34px;

}

.titre-section p{

    font-size:18px;

}

.membre{

    width:100%;
    max-width:420px;

}

.membre img{

    height:360px;

}

}


.btn-contact{
    display:inline-block;
    margin-top:20px;
    padding:18px 36px;
    font-size: 20px;
    background:#8fd14f;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    cursor: pointer;
}

.btn-contact:hover{
    background: #6bb53a;
    transform: translateY(-2px);
    transition: 0.3s;
}

.contact{
    padding:80px 50px;
    background:#111111;
}

.contact-contenu{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    flex-wrap:wrap;
}

.contact-infos{
    color: #ffffff;
    flex:1;
    text-align: center;
    min-width:300px;
}

.contact-infos h2{
    color:#ffffff;
    margin-bottom:25px;
    font-size:36px;
}

.contact-infos p{
    color: #ffffff;
    font-size:20px;
    margin-bottom:15px;
}

.contact-container{
    align-items: center;
}


/* =========================
   PAGE PRODUITS
========================= */

.hero-produits{
    min-height:600px;
    background:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("images/fond-produits.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
    color:white;

    padding:40px;
}

.hero-content{
    max-width:900px;
}

.hero-content h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero-content p{
    font-size:1.6rem;
    line-height:1.8;
    margin-bottom:35px;
}

.btn-cta{
    display:inline-block;
    padding:18px 40px;
    border-radius:50px;

    background:#00a651;
    color:white;

    text-decoration:none;
    font-weight:600;
    font-size:1.1rem;

    transition:0.3s;
    cursor: pointer;
}

.btn-cta:hover{
    transform:translateY(-3px);
}

footer{
    background:#111111;
    color:white;
    padding:40px 20px;
}

.footer-contenu{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items:start;
    width: 100%;
    max-width:100%;
    padding: 0 40px;
    box-sizing: border-box;  
}

.footer-infos{
    justify-self:start;
    text-align:left;
}

.menu-footer{
    justify-self:center;
    text-align:center;
}

.footer-liens{
    justify-self: end;
    text-align:right;
}

.menu-footer a,
.footer-liens a{
    color:white;
    text-decoration:none;
    margin:0 8px;
    font-weight:bold;
    display: block;
    margin: 6px 0;
}

.menu-footer a:hover,
.footer-liens a:hover{
    color:#7AC943;
}

.footer-copy{
    text-align:center;
    margin-top:25px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,.2);
}

/* PAGE CONTACT */

.contact-page{
    padding:50px 50px;
    background:#111111;
}

.contact-page h1{
    text-align:center;
    font-size:60px;
    color:#ffffff;
    margin-bottom:20px;
}

.contact-page .contact-contenu{
    max-width: 1200px;
    margin: 0 auto;
}

.contact-intro{
    color: #ffffff;
    text-align:center;
    max-width:900px;
    margin:auto;
    margin-bottom:50px;
    font-size:18px;
}

.contact-grid{
    max-width: 1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-card{
    background:#111111;
    color: #ffffff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.contact-card h2{
    color:#ffffff;
    margin-bottom:25px;
}

.contact-card p{
    margin-bottom:15px;
    font-size:18px;
}

.contact-card input,
.contact-card textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

.contact-card textarea{
    height:150px;
    resize:none;
}

.contact-card button{
    width:100%;
    background: #7AC943;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.contact-card button:hover{
    background: #68b436;
}

.galerie{
    background: #111111;
    color: #ffffff;
    padding: 60px 50px;
    text-align: center;
    overflow: hidden;
}

.galerie-grid{
    background: #111111;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    max-width: 1100px;
    margin: 40px auto 0;
}

.galerie img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 12px;
    transition: 0.35s ease;

}

.galerie img:hover{
    transform:scale(1.03);
}

@media (max-width:768px){

    .contact-grid{
        grid-template-columns:1fr;
    }

    header{
        flex-direction:column;
        padding:15px;
    }

    .logo{
        height:80px;
        width:auto;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    nav a{
        margin-left:0;
        font-size:14px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:40px 20px;
    }

    .hero-texte{
        width:100%;
    }

    .hero-image{
        width:100%;
        margin-top:30px;
        text-align:center;
    }

    .hero-image img{
        width:80%;
        max-width:320px;
        height:auto;
    }

    .hero h1{
        font-size:58px;
        line-height:1.1;
    }

    .hero p{
        font-size:22px;
    }

    .hero-buttons{
        display:flex;
        flex-direction:column;
        gap:15px;
    }

    .btn,
    .btn-secondaire{
        width:100%;
        margin-left:0;
        text-align:center;
    }

    .produit-phare{
        flex-direction:column;
        padding:50px 20px;
        gap:30px;
    }

    .produit-image,
    .produit-texte{
        width:100%;
    }

    .applications-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .gilles-contenu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gilles-photo img{
        width:220px;
        height:220px;
    }

    .hero-calculateur h1{
        font-size:40px;
    }

    .hero-calculateur p{
        font-size:18px;
    }

.hero{
    flex-direction:column;
    text-align:center;
    padding:40px 20px;
}

.hero-texte,
.hero-image{
    width:100%;
}

.hero-image{
    margin-top:30px;
}

.hero h1{
    font-size:56px;
}

.hero-buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn-secondaire{
    margin-left:0;
    cursor: pointer;
}

.produit-phare{
    flex-direction:column;
}

.produit-image,
.produit-texte{
    width:100%;
}

.applications-grid{
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
}

.carte-vehicule{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.cartes{
    flex-direction:column;
    align-items:center;
}

.galerie{
    padding: 40px 15px;
}

.galerie h2{
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.galerie p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.5;
   }

.galerie-grid{
    grid-template-columns: 1fr;
    gap: 20px;
}

.galerie img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

}
/* ===== Pages Mentions légales / Confidentialité ===== */

.section{
    max-width:1100px;
    margin:70px auto;
    padding:0 20px;
}

.titre{
    text-align:center;
    color:#ffffff;
    font-size:42px;
    margin-bottom:40px;
}

.section h2{
    color:#ffffff;
    margin-top:40px;
    margin-bottom:15px;
}

.section p,
.section li{
    font-size:18px;
    line-height:1.8;
    color:#ffffff;
}

.section ul{
    margin:20px 0 20px 30px;
}


@media (max-width:768px){

    .titre{
        font-size:32px;
    }

    .section p,
    .section li{
        font-size:16px;
    }

}

@media (max-width:768px){

    .footer-contenu{
        grid-template-columns: 1fr;
        flex-direction:column;
        align-items:center;
        text-align:center;
        gap:25px;
    }

    .footer-infos,
    .menu-footer,
    .footer-liens{
        width:100%;
        text-align:center;
        justify-self:center;
    }

    .footer-copy{
        text-align:center;
    }

}